<div class="container" style="background-color: coral; height: 610px">
  <p
    style="margin-left: 47%; margin-top:20px; color: cornsilk; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 18px; font-weight: bold ">
    Number App</p>
  <div class="col-md-4"></div>
  <div class="col-md-6">
    <input style="margin-left: 45%; margin-top: 5%; border-color: blue" type="text" pattern="[0-9]*" maxlength="4"
      name="country_code" title="Three digits country code" placeholder="Enter Text">
  </div>
</div>

<router-outlet></router-outlet>;